<h1>购物车</h1>
<% if logged_in? %>
<ul>
    <% current_user.cart_items.each do |cart| %>
    <div class="order-box">
        <li>
            <p><%= link_to cart.item.name, cart.item %></p>
            <p>数量: <span><%= cart.quantity %></span> 单价: <span><%= cart.item.price %> 象币</span></p>
        </li>
    </div>
    <% end %>
</ul>
<% else %>
访问购物车, 请先<%= link_to '登录', login_path %>
<% end %>