<h1>购物车</h1>
<ul>
    <% current_user.cart_items.each do |cart| %>
    <li>
        <p><%= link_to cart.item.name, cart.item %></p>
        <p>数量: <span><%= cart.quantity %></span> 单价: <span><%= cart.item.price %></span></p>
    </li>
    <% end %>
</ul>