/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

p{margin:0;padding:0;}
.order-head-detail{color:#fff;background-color:#337ab7;text-align:center;font-size:24px;line-height:32px;}
.order-ul1{padding-left:20px;padding-right:20px;}
.order-ul1 li{border:1px solid #eee;border-radius:6px;padding-top:10px;margin-top:10px;background-color:#f6f6f6;
              box-shadow: 2px 3px 6px #ccc;}
.add-idea{padding-right:10px;padding-bottom:10px;}
.btn-mar{margin-right:10px;margin-bottom:10px;}
.body{ height:100%; background:#f6f6f6;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
*{margin: 0; padding: 0; list-style: none;}
.bodybox { min-height: 100%;}