/*添加评论*/

.add-list01{overflow:hidden;width:30%; text-align:left;}
.add-list01 img{width:100%; margin:auto .5rem;}
.add-list02{ font-size:.8rem;width:60%; text-align:left; padding-left:.6rem;}
.add-list02p1{color:#353535; font-size:1rem;width:200px; margin-bottom:10px;
              white-space:nowrap;/*规定段落中的文本不进行换行*/
              overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
              text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/}

.add-list02p2{color:#888; font-size:.9rem; line-height:1.4rem;}
.comments-table{padding:.6rem; margin-top:.6rem; background-color:#fff;}
.comments-table td{margin:1rem .2rem;}
.tex-comment{ margin:10px;border-radius:10px;width:96%;height:200px;}
.btn-comment{width:90%; margin:5%}
.comment-text1{}

/*宝贝评价展示*/
.pro-comment-box{margin-top:10px;padding-left:.4rem;padding-right:.4rem;}
.pro-comment-p1{padding-top:.4rem;color:#e57a2a;margin-bottom:.4rem;background-color:#fff;}
.pro-comment-body{padding-top:10px;background-color:#fff;}
.pro-comment-pname{color:#323232;font-size:.9rem;font-weight:bold;padding-left:.4rem;}
.pro-comment-pt{color:#ccc;font-size:.8rem;font-weight:normal;}
.pro-comment-p2{clear:both;color:#aaa;}
.pro-comment-kb{height:76px;background-color:#f6f6f6;color:#ccc;width:100%;text-align:center; padding-top:10px;font-size:.8rem;}
/**/
.car-color1{color:#333;font-size:1.2rem;}
.car-color2{color:#888;font-size:.8rem;clear:both;}
.car-price-num{font-size:1rem;}