
p{margin:0;padding:0;}
.order-head-detail{color:#fff;background-color:#337ab7;text-align:center;font-size:24px;line-height:32px;}
.order-ul1{padding-left:20px;padding-right:20px;}
.order-ul1 li{border:1px solid #eee;border-radius:6px;padding-top:10px;margin-top:10px;background-color:#f6f6f6;
              box-shadow: 2px 3px 6px #ccc;}
.add-idea{padding-right:10px;padding-bottom:10px;}
.btn-mar{margin-right:10px;margin-bottom:10px;}
.body{ height:100%; background:#f6f6f6;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
*{margin: 0; padding: 0; list-style: none;}
.bodybox { min-height: 100%;}

/*商品详情*/
.ad-img{ padding:5px;  overflow:hidden;}
.ad-img img{width:100%; display:block;}/
.pro-box{ background-color:#fff; padding-bottom:.4rem;}
.pro-detail-til{ padding-bottom:.6rem; padding-top:.4rem;}
.pro-detail-til> p{ float:left;} 
.pos-rel{ position:relative;}
.pro-detail-p2{color:#888; font-size:.9rem; line-height:1.8rem; }
.pro-detail-p2 table{width:100%; padding: .4rem;}
.pro-detail-p2 .tel{ text-align:left;}
.pro-detail-p2 .ter{ text-align:right;}
.pro-tex-box{color:#333; background-color:#fff; padding:1rem; font-size:.9rem; margin-top:1rem;}
.pro-tp{ padding-top:.5rem; padding-bottom:.5rem;}
.tex-indent{ text-indent:2em;}

.pro-number-box{height: 25px;text-align: center; position:absolute; right:.4rem; }
.pro-number-box li{cursor: pointer; float:left;}
.pro-number-box li input{width: 50px;border: none;height:18px\9;text-align: center;background-color:#f8f8f8;color:#888;}
.number-btn p{width:28px;height:23px;display:block;float:left;border:1px solid #eee;color:#1f52e3;
				font-size:1.4rem; line-height:18px;}
				
/*购物车*/		   
input[type="checkbox"]{appearance: none; -webkit-appearance: none;outline: none;display:none}
label{width:20px;height:40px;display:inline-block;cursor:pointer;  padding-top:5px;}
label input[type="checkbox"] + span{width:20px;height:20px;display:inline-block; 
									background:url(../img/checkbj.png) no-repeat;background-position:0 0;}
label input[type="checkbox"]:checked + span{background-position:0 -20px;}

.order-box{ background-color:#fff; position:relative;  margin-bottom:.8rem; }
.oeder-car-table{ padding:.6rem; background-color:#fff;}
.oeder-car-table td{margin:1rem .2rem;}
.list01{width:10%; text-align:center;}
.list02{overflow:hidden;width:25%; text-align:left;}
.list04{overflow:hidden;width:20%; text-align:left;}
.list02 img{width:100%; margin:auto .5rem;}
.list04 img{width:100%; margin:auto .5rem;}
.list03{ font-size:.8rem;width:30%; text-align:left; padding-left:.6rem;}
.list03p1{color:#888; font-size:1.2rem; padding-bottom:1rem;}
.list03p6{color:#333; font-size:1.2rem; padding-bottom:1rem;}
.list03p2{color:#09CBDD;border:1px solid #09CBDD;border-radius:5px;display:inline-block;padding:0px 2px;}
.list03p3{color:#fff; background-color:#FFAF08	;border-radius:5px; display:inline-block; padding:2px; margin-left:10px;}
.list03p4{color:red; font-size:1.4rem; line-height:2rem;}
.list03p5{color:#888; display:inline-block;margin-left:.4rem; margin-right:.4rem;}

.number-box{height: 25px;text-align: center; position:absolute; right:.4rem; bottom:.8rem; }
.number-box li{cursor: pointer; float:left;}
.number-box li input{width: 50px;border: none;height:18px\9;text-align: center;background-color:#f8f8f8;color:#888;}
.number-btn p{width:28px;height:23px;display:block;float:left;border:1px solid #eee;color:#1f52e3;
				font-size:1.4rem; line-height:18px;}


.total{background:#fff; position:fixed;bottom:50px; font-size:1rem;color:#888;width:100%; line-height:40px;}
.total li{ float:left;}
.left-ul li{ text-align:center; padding-left:.5rem;}
.right-ul li{}
.total-li02{color:red; padding-right:.5rem;}
.total-li03{color:#fff; background-color:#3c68ee; text-align:center; padding-left:.5rem;}

/*确认订单*/
.order-make-h{width:100%; padding:1rem 1rem; background-color:#535353; margin-bottom:.6rem;}
.make-p01{border-right:1px solid #bbb; padding-right:.4rem;width:8%;}

.make-p02{color:#fff; font-size:1.2rem; line-height:4rem; padding-left:.4rem;}
.make-adr{padding-left:1rem;}
.make-pp2{color:#fff; font-size:1rem; word-wrap: break-word; word-break: break-all;overflow: hidden;}
.make-pp2 span{ padding-left:1rem;}

.order-detail-box{ font-size:1rem;color:#888;line-height:2rem;}
.order-detail{padding:0px .6rem;background-color:#fff;}

.order-detail-p02 {color:#333;}
.colyellow{color:#FFAF08;}
.colred{color:red;}
.order-detail-total{margin-top:.4rem;background-color:#fff; line-height:3rem;font-size:1.2rem;color:#333;text-align:center;}

.order-make-bottom{background-color:#3c68ee;font-size:1.2rem;line-height:2.8rem;text-align:center;position:fixed;bottom:0;width:100%;}
.order-make-bottom a{color:#fff;}
.btn-buy{border:none;color:#fff;}