/*商品详情*/
.ad-img{ padding:5px;  overflow:hidden;}
.ad-img img{width:100%;  display:block;}
.pro-box{ background-color:#fff;}
.pro-detail-til{ padding-bottom:.6rem; padding-top:.4rem;}
.pro-detail-til> p{ float:left;} 
.pos-rel{ position:relative;}
.pro-detail-p2{color:#888; font-size:.9rem; line-height:1.8rem;  }
.pro-detail-p2 table{width:100%; padding: .4rem;}
.pro-detail-p2 .tel{ text-align:left;}
.pro-detail-p2 .ter{ text-align:right;}
.pro-tex-box{color:#333; background-color:#fff; padding:0 1rem .4rem 1rem; font-size:.9rem; }
.pro-tp{ padding-top:.5rem; padding-bottom:.5rem;}
.tex-indent{ text-indent:2em;}

.pro-number-box{height: 25px;text-align: center; position:absolute; right:.4rem; }
.pro-number-box li{cursor: pointer; float:left;}
.pro-number-box li input{width: 50px;border: none;height:18px\9;text-align: center;background-color:#f8f8f8;color:#888;}
.number-btn p{width:28px;height:23px;display:block;float:left;border:1px solid #eee;color:#1f52e3;
                font-size:1.4rem; line-height:18px;}
/*商品详情底部*/
.pro-footer{width:100%;text-align:center;background:#fafafa;overflow:hidden;
             position:fixed;bottom:0; height:66px;}
.pro-foot{ cursor:pointer;color:#333;}
.pro-foot .black-a{ color:#333;display:block; }
.r-shop-btn{border:none;list-style:none;color:#fff; background-color:red;text-align:center;}
.y-shop-btn{border:none;list-style:none;color:#fff; background-color:#FFAF08;text-align:center;}
/**/
.ad-title{color:#323232; font-weight:bold; font-size:1rem; padding-left:.4rem; padding-right:.4rem;}
.ad-detail{ padding-left:.4rem;}
.ad-detail span{color:red;font-size:1.4rem;}
.shop-btn{border:none;list-style:none;color:#fff; background-color:red;
           border-radius:5px;text-align:center; padding:4px 12px; margin-right:10PX;}
 .car-btn{border:none;list-style:none;color:red; background-color:#fff;border:1px solid red;
           border-radius:5px;text-align:center; padding:4px 10px; margin-right:10PX;}